* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#categories {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#categories .item {
  list-style-type: none;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  width: 392px;
  border-radius: 8px;
  background-color: #f6f6fe;
}

#categories .item h2 {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-left: 16px;
}

#categories .item ul {
}

#categories .item ul li {
  list-style-type: none;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid #808080;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
  padding-left: 16px;
  padding-top: 8px;
}
